/* Variables */
/*
$white: #FFFFFF;
$black: #000000;
*/

/* Various fixes */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

/* Placeholder */
/*
::-webkit-input-placeholder {
  color: white;
  background-color: black;
}

::-moz-placeholder {
  color: white;
  background-color: black;
}

:-ms-input-placeholder {  
  color: white;
  background-color: black;
}
*/

/* Clearfix */
.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

/* Fonts */
/*
@import 'fonts';
*/

/* Reset */
h1, h2, h3, h4, h5, h6, p, ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Common */
body {
}

/* Imports */
/*
@import 'page';
*/
